@charset "utf-8";
* {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif
}

/* 基本情報のテーブルのデザイン */
.Basic_Information-table,
.Body_function-structure,
.Activity,
.comment {
    width: 100%;
    margin-bottom: 10px;
}

.date {
    padding: 20px;
    border: 1px solid #ccc;
}

/* テーブルのカラムのデザイン */
.Basic_Information-item,
.Basic_Information-body,
.Body_function-structure-item,
.Body_function-structure-body,
.Activity-item,
.Activity-body,
.comment-item,
.comment-body {
    padding: 20px;
    border: 1px solid #ccc;
}

.Basic_Information-item,
.Body_function-structure-item,
.Activity-item,
.comment-item {
    text-align: left;
    width: 40%;
    background-color: #eee;
}

.Basic_Information-body
.Body_function-structure-body
.Activity-body
.comment-body {
    width: 60%;
}

/* テーブルボディの中の数値入力のボックスデザイン */
.form-number {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

/* テーブルボディの中のセレクトボックスとテキストエリアのデザイン */
.form-select,
.form-list,
.comment-area {
    width: 425px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
